@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body, aside, figure, figcaption, header, section, article, footer, nav, h1, h2, h3, h4, h5, h6, div, p, a, span, ul, ol, li, span {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

div.modal-trailer {
  /* background-color: rgba(151,151,151,0.7); */
  height: 30px;
  width: 100%;
}

div.modal-trailer i {
  float: right;
  color: #D8D8D8;
}

.wrapper{
  width: 98%;
  margin: 0 auto;
}

@media screen and (min-width:30.063em) {
  .wrapper{
    width: 90%;
  }
}

@media screen and (min-width:48.063em) {
  .wrapper{
    width: 80%;
  }
}