header>h1 {
    padding: 15px 15px 15px 0px;
}

header>h1>a {
    background: url('../../assets/images/logo.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 27px;
    width: 165px;
    text-indent: -9999px;
    outline: none;
    display: block;
    margin: 0 auto;
}

header>ul {
    display: table;
    width: 100%;
}

header>ul li {
    display: table-cell;
}

header>ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #D8D8D8;
    padding-bottom: 5px;
}

header>ul li a:hover {
    color: #0ABFFE;
    border-bottom: 2px solid #0ABFFE;
}

.hover-tabs{
    color: #0ABFFE;
    border-bottom: 2px solid #0ABFFE;
}

@media screen and (min-width:30.063em) {

}

@media screen and (min-width:48.063em) {

    header h1{
        display: inline-block;
    }

    header>ul {
        display: inline-block;
        width: auto;
        float: right;
    }
    
    header>ul li {
        padding: 20px 10px 0px 10px;
    }
}